@font-face {
    font-family: planet;
    src: url(../../fonts/planetncompact.ttf);
}
@font-face{
    font-family: coalition;
    src: url(../../fonts/Coalition_v2..ttf)
}

.planeta{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-image: url(../../Images/Space-Background.jpg);
    background-attachment: fixed;
}

.planeta ul {
    padding: 0px;
    margin: 0px;
}

.planeta ul .card{
    list-style: none;
    float: left;
    width: 25% ;
    min-width: 400px;
    height: 525px;
    margin: 50px 70px 50px 70px;
    background: linear-gradient(to bottom,#1e0070,#000000 );
    box-sizing: border-box;
    border: 1px solid #a3a2a2;
    border-radius: 20px;
    box-shadow: 3px 2px 2px 1px #979797;
}
.planeta ul li:hover{
    opacity: 0.93;
}
.planeta ul li .card-text {
    color: white;
    padding-left: 4px;
    font-size: 22px;
    font-family: monospace;
    font-style: oblique;
}
.planeta ul li .card-planet {
    color: rgb(190, 190, 190);
    font-size: 16px;
    margin-top: 2px;
    padding-left: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: outset;
    border-color: #190158bd;
    border-radius: 15px;
}
.planeta ul li .planet-name {
    width: 100%;
    height: 50px;
    font-size: 40px;
    color: #1e0070;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family: planet;
    line-height: 50px;
    background: linear-gradient( to right, #e6e6e6, #c9c9c9 );
    text-align: center;
    border-style: outset;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.planeta ul li .botoes {
  display: flex;
  justify-content: space-between;

}
.planeta ul li .botoes .delete {
	box-shadow:inset 0px 0px 0px 0px #f5b4ae;
	background:linear-gradient(to bottom, #6a0381 5%, rgb(59, 6, 75) 100%);
	background-color:#6a0381;
	border-radius:12px;
	border:2px solid #6a0381;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:5px 30px;
	text-decoration:none;
    text-shadow:0px 0px 0px #b23e35;
    margin-right: 10px;
}
.planeta ul li .botoes .delete:hover {
	background:linear-gradient(to bottom, rgb(59, 6, 75) 5%, #6a0381 100%);
    background-color:rgb(59, 6, 75);
}
.planeta ul li .botoes.delete:active {
	position:relative;
	top:1px;
}
.planeta ul li .botoes .edit{
	box-shadow:inset 0px 0px 0px 0px #1e459b;
	background:linear-gradient(to bottom, #6a0381 5%, rgb(59, 6, 75) 100%);
	background-color:#6a0381;
	border-radius:12px;
	border:2px solid #6a0381;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
    padding:5px 30px;
    text-decoration: none;
    text-shadow:0px 0px 0px #b23e35;
    margin-left: 10px;
}
.planeta ul li .botoes Link{
    text-decoration: none;
}
.planeta ul li .botoes Link:focus{
    text-decoration: none;
}
.planeta ul li .botoes Link:hover{
    text-decoration: none;
}
.planeta ul li .botoes Link:visited{
    text-decoration: none;
}
.planeta ul li .botoes Link:link{
    text-decoration: none;
}
.planeta ul li .botoes Link:active{
    text-decoration: none;
}
.planeta ul li .botoes .edit:hover {
	background:linear-gradient(to bottom, rgb(59, 6, 75) 5%, #6a0381 100%);
    background-color:rgb(59, 6, 75);
}
.planeta ul li .botoes.edit:active {
	position:relative;
	top:1px;
}

.planeta ul .card .addBtn{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400px;
    border: none;
    color:  #6a0381;
    text-shadow: 5px 5px 1px black;
}
.planeta ul .card .addBtn:hover{
    opacity: 80%;
}

@media screen and (max-width:1200px) {
    .planeta ul li {
        width: 40%;
        margin-left: 50px;
    }
}

@media screen and (max-width: 750px) {
    .planeta{
        width: 100%;
        padding: 0%;
    }
    .container ul li {
        float: none;
        width: 90%;
        margin: 40px auto;
    }
} 