.LogOut .outBtn {
    font-size: 21px;
        padding: 3px 15px;
        border: 0;
        background-color: #000000e3;
        color: #fff;
        border-radius: 3px;
        transition: all 250ms ease-in-out;
        cursor: pointer;
}
.LogOut .outBtn:hover {
    background-color:  #ff0000;
    border-radius: 3px;
    border: rgb(0, 0, 0);
}
.LogOut .outBtn:focus {
    outline: none;
}
.product-list {
    max-width: 1000px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-list Link {
    text-decoration: none;
}
.product-list Link:focus{
    text-decoration: none;
}
.product-list Link:hover{
    text-decoration: none;
}
.product-list Link:visited{
    text-decoration: none;
}
.product-list Link:link{
    text-decoration: none;
}
.product-list Link:active{
    text-decoration: none;
}
.product-list article {
    background: linear-gradient(to bottom,#4b0082,#6c04b6 );
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.product-list article:hover {
    background: linear-gradient(to bottom,#6500ad,#8707e2 );
    cursor: pointer;
}
.product-list article strong {
    font-size: 20px;
    color: white;
}
.product-list article p {
    font-size:  16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.LogOut {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
