.planeta{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../Images/Space-Background.jpg");
    overflow: hidden;
}

.card {
    margin: auto;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
    text-align: center;
    
    transition: 0.5s ease;
}
.card-image {
    grid-area: image;
    background: url(../../Images/sistema.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .date {
    color: #4b0082;
    font-size: 13px;
}
.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}
.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #4b0082;
}
.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
.card-stats .type{
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
.card-stats .value {
    font-size: 20px;
    font-weight: 500;
}
.card-stats .border {
    border-left: 1px solid rgb(51, 13, 87);
    border-right: 1px solid rgb(51, 13, 87);
}
.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}